# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz
.env

# user generated content
/truthful_ui/public
/public
/pipeline/outputs
/pipeline/temp
interface/public/image_gen

# testing
/coverage

# next.js
.next
interface/.next
interface/node_modules
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
